<plugin>
    <id>locator</id>
    <name>Geo Locator</name>
    <description>Geo Locator</description>
    <version>1.2.0</version>
    <glfusionversion>1.7.0</glfusionversion>
    <phpversion>7.0.0</phpversion>
    <url>http://www.leegarner.com</url>
    <maintainer>Lee Garner</maintainer>
    <requires>lglib</requires>
</plugin>
